.content {
    padding-top: 20px;
    padding-bottom: 20px;
}

.content-inside {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}

.submit-button {
    margin-top: 20px;
}

.card-header h2 {
    text-align: center;
}